
<body>
    <footer>
        <div class="container" style="border-color:#235f26">
            <div class="footer__content">
                <div class="map__iframe">
                    <img src="/image/Shared/LogoMEI3.png" alt="Иконка адреса" style="height: 70px; width: 140px;">
                </div>

                <div class="contact__block">
                    <span class="contact__title">Соц.сети</span>
                    <div class="contact__list">
                        <div class="contact__item" style="gap: 15px;">
                            <a href="https://vk.com/sf_mpei" target="_blank" rel="noopener noreferrer">
                                <img src="/image/Shared/Icon/VK_Color.png" alt="ВКонтакте">
                            </a>
                            <a href="https://t.me/sf_mei" target="_blank" rel="noopener noreferrer">
                                <img src="/image/Shared/Icon/TG_Color.png" alt="Телеграм">
                            </a>
                            <a href="https://max.ru/id7722019652_gos3" target="_blank" rel="noopener noreferrer">
                                <img src="/image/Shared/Icon/Max_Color.png" alt="Max" style="width: 25px; height: 26px;">
                            </a>
                        </div>
                    </div>
                </div>

              @*   <div class="contact__block">
                    <span class="contact__title">Время работы</span>
                    <div class="contact__list" style="gap: 0;">
                        <div class="contact__item">
                            <div class="contact__text">Понедельник - пятница: 8:00 - 22:00</div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__text">Суббота: 8:00 - 17:00</div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__text">Воскресенье: выходной</div>
                        </div>
                    </div>
                </div> *@

                <div class="contact__block">
                    <span class="contact__title">Контакты</span>
                    <div class="contact__list">
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="/image/Shared/Icon/phone.png" alt="Иконка телефона">
                            </div>
                            <div class="contact__text">8 (4812) 39-11-60</div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="/image/Shared/Icon/phone.png" alt="Иконка телефона">
                            </div>
                            <div class="contact__text">8 (4812) 39-11-60</div>
                        </div>
                      
                    </div>
                </div>
                <div class="contact__block">
                    <span class="contact__title">Адрес</span>
                    <div class="contact__list">
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="/image/Shared/Icon/Geo.png" alt="Иконка адреса">
                            </div>
                            <div class="contact__text">г. Смоленск,Энергетический проезд, 1</div>
                        </div>

                    </div>
                </div>
               
                @* <div class="map__iframe" style="height: 125px;">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac1a32fc2817ac843ce8d766db73fdd9ab3d1035a134dc1b4f87196b77ebef510&amp;source=constructor"
                            width="220"
                            height="120"
                            title="Карта проезда"
                            loading="lazy">
                    </iframe>
                </div> *@
            </div>
        </div>
    </footer>
</body>
