* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Подвал */
footer {
    background: #235f26;
    margin-top: auto;
    padding: 5px 0px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    background: #235f26;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.map__iframe iframe {
    width: 220px;
    height: 120px;
    border: 2px solid #230C08;
}

.contact__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.contact__list {
    display: flex;
/*    flex-direction: column;*/
    gap: 10px;
}

.contact__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact__icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact__icon img {
        max-width: 100%;
        max-height: 100%;
    }

.contact__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.4;
}

.contact__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

    .contact__item a:hover {
        opacity: 0.7;
    }

    .contact__item a img {
        width: 29px;
        height: 26px;
    }

/* Адаптивность */
  @media (max-width: 768px) {
            .footer__content {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .contact__block {
                align-items: center;
            }

            .contact__item {
                justify-content: center;
            }

            .map__iframe iframe {
                width: 100%;
                max-width: 320px;
            } 
}
