@using Client.Core.App.Layout.Nav
@inherits LayoutComponentBase

<div class="layout">
    <NavProfile />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <FooterMenu />
</div>