@inject NavigationManager Navigation

<button class="double-border-button nav_item Cursor Nav__btn Cursor" style="width: @(Width)px !important; height: @(Height)px !important; margin-top: @(MT)px" @onclick="OnRedirect">@Text</button>