@inject NavigationManager Navigation

<div class="nav_link auth-link Cursor" style="margin-left: auto; text-decoration: none">
    <button class="nav_item Cursor Nav__btn" @onclick="OnExit">ВЫЙТИ</button>
</div>