.OurGraduatesInfoText[b-qp5hig975r] {
    flex: 1;
    min-width: 300px;
}

.OurGraduatesInfo[b-qp5hig975r] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;

    padding: 0 40px 30px 40px;
}
.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li[b-qp5hig975r] {
    margin-bottom: 40px;
}

.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li:last-child[b-qp5hig975r] {
    margin-bottom: 0px;
}

.OurGraduatesInfoText p[b-qp5hig975r] {
    width: 700px;
}

.Stick[b-qp5hig975r] {
    width: 3px;
    height: 55px;
    background-color: #009639;
    flex-shrink: 0;
}

.StickInHistory[b-qp5hig975r] {
    z-index: -1;
    height: 230px;
    margin-top: -237px;
    margin-left: 8px;
}