.dot__history[b-5xrfcbjpas] {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    background-color: white;
    /*margin-right: 6.25vw;*/
}

.dot__history__p[b-5xrfcbjpas] {
    margin-right: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    max-width: 700px;
}

.dot__history__li[b-5xrfcbjpas] {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}