@inherits Client.Core.Shared.ui.Model.TittleBase
<div style="display: flex; justify-content: @GetJustifyContent();">
    <div class="tittle__block" style="padding-right: @(PaddingRight)px; padding-left: @(PaddingLeft)px;">
        <span class='tittle__background' style="background: #@Color">@Tittle</span>
    </div>
</div>