@inherits Client.Core.Shared.ui.Model.TittleBase
<div class="FlexEnd">
    <div class="block_tittle_stick" style="display: flex; justify-content: @GetJustifyContent()">
        <span class='tittle_stick' style="font-size: @(FontSize)px ">@Tittle</span>
    </div>
</div>