.tittle__background {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    /*background-color: #006928d8;*/
    color: white;
    padding: 5px 5px;
    display: inline-block;
}

.tittle__block {
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
}