@inherits Client.Core.Shared.ui.Model.TittleBase
<div style="display: flex; justify-content: @GetJustifyContent();">
    <div class="tittle__block">
        <span class='tittle__background' style="background: #@Color">@Tittle</span>
    </div>
</div>