.block_tittle_stick {
    box-sizing: border-box;
    padding-right: 5vw;
    padding-left: 5vw;
}

.tittle_stick {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    display: inline-block;
}

.tittle_stick::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #009639;
}