.stick__left[b-7zgd5vuyif] {
    width: 3px;
    height: 55px;
    background-color: #009639;
    flex-shrink: 0;
}

.caferda__card[b-7zgd5vuyif] {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.caferda__card>p[b-7zgd5vuyif] {

    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.caferda__card:last-child[b-7zgd5vuyif] {
    margin-bottom: 0px;
}
