@page "/DiciplineEdit/{DiciplineId:int}"
@inject HttpClient Http
@layout PrivateOfficeLayout

<AuthorizeView>
    <Authorized>
        <div class="container">
             <h6>@_discipline?.NameDiscipline</h6>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>