@page "/GroupTable"
@using Client.Core.Features
@using Client.Core.Shared
@inject NavigationManager Navigation
@inject HttpClient Http
@layout PrivateOfficeLayout

<AuthorizeView>
    <Authorized>
        <div class="container">
            <TittleBackground JustifyContent="@JustifyContentEnum.FlexEnd" Color="006928d8" Tittle="Дисциплины" />
            <ButtonRedirect Redirect="GroupAdd" Text="Добавление группы" />
            <div class="table-container">
                <table class="disciplines-table">
                    <thead>
                        <tr class="table_tr">
                            <th rowSpan="2">ИД</th>
                            <th rowSpan="2">Названние группы</th>
                            <th rowSpan="2" class="profile-header">Изменение</th>

                           @*  <th rowSpan="2">Курс</th>
                            <th rowSpan="2">Магистратура</th>
                            <th colspan="3" class="profile-header">Профиль подготовки</th>
                            <th colSpan="2" rowSpan="2" class="profile-header">Изменение</th> *@
                        </tr>
@*                         <tr class='table_tr'>
                            <th>АС</th>
                            <th>ВМ</th>
                            <th>ПО</th>
                        </tr> *@
                    </thead>
                    <tbody>
                        @foreach (var item in _groups)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td style="text-align: left">@item.Name</td>
                                <td>
                                    <NavLink href="@($"GroupEdit/{item.Id}")" class="nav_link auth-link Cursor" style=" text-decoration: none">
                                        <p class="nav_item Cursor">Редакт.</p>
                                    </NavLink>
                                </td>
@*                                 <td><button class="btn__delete" @onclick="() => BtnDelete(item.Id)">Удалить</button></td>
 *@                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>