@page "/users"
@inject HttpClient Http
@layout PrivateOfficeLayout

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="table-container">
                <table class="disciplines-table">
                    <thead>
                    <tr class="table_tr">
                        <th rowSpan="2">№<br />п/п</th>
                        <th rowSpan="2">ФИО</th>
                        <th rowSpan="2">Роль</th>
                        <th rowSpan="2">Группа</th>
                        <th colSpan="3" class="profile-header">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var item in new List<int>())
                    {
                        // item.Index
                        <tr> 
                            <td></td>
                            <td style="text-align: left"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>

