@page "/test"
@layout MainLayout
@attribute [Authorize]

<h3>Тест авторизации</h3>

<AuthorizeView>
    <Authorized>

        <h4>Вы авторизованы!</h4>
        @foreach (var claim in context.User.Claims)
        {
            <p><strong>@claim.Type:</strong> @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>