@page "/EducatorCardAddInfo"

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject HttpClient Http
<TittleUnderStick Tittle="@educator?.FullName"
                  JustifyContent="JustifyContentEnum.FlexStart"
                  FontSize="38"
                  PaddinLeft="2"/>
<div style="display: flex; margin-top:50px">
    <div style="width: 30%">
        <img src="@GetIMG()" alt="Фото Преподавателя" class="EducatorCardIMG"/>
    </div>
    <div style="width: 70%;">


        <div class="EducatorCardInfo">
            <p><span style="font-weight: 500;">Должность на кафедре:</span> @educator?.Profession</p>
            <p><span style="font-weight: 500;">Ученая степень:</span> @educator?.AcademicDegree</p>
            <p><span style="font-weight: 500;">Уровень образования:</span> @educator?.EducatorAdditionalInfo.EducationLevel</p>
            <p><span style="font-weight: 500;">Ученое звание:</span> @educator?.EducatorAdditionalInfo.AcademicTitle</p>
            <p><span style="font-weight: 500;">Специальность или направление подготовки:</span> @educator?.EducatorAdditionalInfo.SpecialtyOrFieldOfStudy </p>
            <p><span style="font-weight: 500;">Квалификация:</span> @educator?.EducatorAdditionalInfo.Qualification</p>
            <p>
            <span style="font-weight: 500;">Преподаваемые дисциплины:</span>

            @if (educator?.EducatorAdditionalInfo?.EducatorDisciplines != null && educator.EducatorAdditionalInfo.EducatorDisciplines.Any())
            {
                <ul class="disciplines_list">
                    @foreach (var discipline in educator.EducatorAdditionalInfo.EducatorDisciplines)
                    {
                        <li>@discipline.Discipline.NameDiscipline</li>
                    }
                </ul>
            }
            else
            {
                <span>Дисциплины не указаны</span>
            }

            </p>
            <p>@((MarkupString)@GetIndentedText(educator?.EducatorAdditionalInfo.AdditionalInfo))</p>

       </div>
    </div>
</div>

@if (isLoading)
{
    <p>Загрузка...</p>
}
else if (educator != null)
{
    <div style="margin-top: 20px; padding-left: 2vw;">
        <a href="/educators" class="btn btn-secondary" style="background-color: #2e7d32">Назад</a>
    </div>
}
else if (errorMessage != null)
{
    <p style="color: red;">Ошибка: @errorMessage</p>
    <a href="/educators" class="btn btn-secondary">Назад</a>
}